@import "../../vars.css";


.container {
    position: relative;
    border-radius: 15px;
   padding: 73px;
   margin-top: 129px;
   z-index: 1;
   margin-left: 10%;
   margin-right: 10%;

}


.title {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    min-height: 100vh;
    font-size: 55px;
    color: white;
    font-weight: 600;
    margin-top: 100px;
padding: 15%;
}

.projectsImg {
    box-sizing: border-box;
    width: 200px;
    display: flex;
    justify-content: center;
    z-index: 1;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}
